fastapi
uvicorn[standard]
sqlalchemy>=2.0.0
alembic
psycopg2-binary
pydantic>=2.4.2
pydantic-settings
email-validator
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
pytest
httpx
